 <div class="leftContainer">
    <a href="#/taken">Taken</a>
    <br/>
    <a href="#/edited">Edited</a>
</div>
<div class="rightContainer"> 
  <table>
    <tr> 
      <td>RPC</td>
      <td>Barcode</td>
      <td>Date Picture Taken</td>
      <td>Date Edited</td>
      <td>Completed</td>
    </tr>
    <tr ng-repeat="product in products" >
      <td>{{product.rpc}}</td>
      <td>{{product.productID}}</td>
      <td>{{product.photoTakenDate}}</td> 
      <td>{{date}}</td>
      <td><input type="checkbox" name="{{product.productId}}" ng-click="check($event,this)"></td>
    </tr>
  </table>
  <input type="submit" name="save" value="Save" ng-click="saveNonEdited()">
</div>  