
<!DOCTYPE html>

<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/app.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type="text/javascript">
          var require = {
            baseUrl: "assets/js"
          };
        </script>
        <script data-main="main" src="@routes.Assets.versioned("js/libs/require.js")"></script>

    </head>
     <body>
        <div id="container">
            <div ui-view></div>
        </div>

        <div id="overlay">
            <img id="loadingSpinner" src="assets/images/spinner.gif">
        </div>
    </body>
</html>